@model IEnumerable<PropertyPortal.tblpropertymain>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Index</h2>
<div class="container">
    <div class="row">


        <div class="col-xs-12">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Furnish Master</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            @Html.ActionLink("Create New", "Create")
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.Grid(Model).Columns(columns =>
           {
               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Edit", "Edit", new { id = d.ID })      </b>);
               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Details", "Details", new { id = d.ID })      </b>);
               columns.Add(foo => foo.UserId).Titled("Name");
               columns.Add(foo => foo.ReqType).Titled("Req Type");
               columns.Add(foo => foo.PTypeId).Titled("Property Type");
               columns.Add(foo => foo.PCategoryId).Titled("Property Category");
               columns.Add(foo => foo.PTransactionType).Titled("Transaction Type");
               columns.Add(foo => foo.POwnershipType).Titled("Ownership Type");
               columns.Add(foo => foo.PFurnish).Titled("Furnish Type");
           }).WithPaging(20)

                </div>
            </div>

        </div>
    </div>
</div>


